html, body {
    height: 100%;
}
/************* login screen ***********/
.login-layout {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.form-layout {
    width: 35%;
    padding: 5%;
    background-color: #474e5d;
    background-color: rgba(0, 0, 0, 0.5);
}
.welcome-txt {
    color: white;
    font-size: 16px;
    font-family: cursive;
    padding-bottom: 7px;
}
.login-button {
    color: #333;
    background-color: gold;
    width: 100%;
    margin-top: 15px;
    color:#474e5d;
    font-weight: 600;
    padding: 2% 0%;
    border: 0px;
}
.login-button:hover{
    background-color: yellow;
}
.error-msg {
    text-align: center;
    color: red;
    font-size: 17px;
    font-family: monospace;
}
/********************* Home page ****************/
.home-layout .navbar {
    background-color: gold;
    background-color: rgba(0,0,0, 0.5);
    border: 0px;
    border-radius: 0px;
}
.home-layout .navbar-inverse .navbar-toggle {
    border-color: white;
}
.home-layout .navbar-inverse .navbar-toggle:focus, .home-layout .navbar-inverse .navbar-toggle:hover {
    background-color: gold;
}
.home-layout .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
.home-layout .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: orange;
    background-color: white;
    color: #004A76;
}
.home-layout .navbar a {
    color: white;   
}
.home-layout .navbar-inverse .navbar-nav>li>a {
    color: white;
}
.home-layout .navbar-nav>li {
    padding-right: 1px;
    padding-left: 1px;
}
.home-layout .navbar-nav>li>a:hover {
    background-color: white;
    color:orange;
    color: #004A76;
}
.navbar-inverse .navbar-brand {
    font-family: monospace;
    font-size: 18px;
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
}
.logged-user:hover{
    background-color: white !important;
    color: #004A76 !important;
}
.logged-user .glyphicon-user {
    right:3px;
}
.home-layout {
    background-color: #474e5d;
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
    padding-top: 1.5%;
}
.view-display {
    width: 80%;
    background-color: #eee;
    height: auto;
    margin: auto;
    text-align: center;
}
.view-display header, .view-display footer {
    width: 100%;
    font-size: 20px;
}
.content-block {
    height: 37%;
    background-color: white;
    padding: 9%;
    color: chocolate;
    font-size: 22px;
    font-family: monospace;
}

@media only screen and (max-width: 600px) {
    .error-msg {
        font-size: 15px;
    }
    .home-background {
        background-color: #474e5d;
    }
    .form-layout {
        width:65%;
        padding: 10%;
    }
    .home-layout {
        padding-top: 0%;
        height: auto;
    }
    .home-layout .navbar-nav>li {
        padding-right: 0px;
        padding-left: 0px;
    }
}